.div {
  position: relative;
  width: 100%;
  height: 100vh;
  background: rgba(0, 11, 118, 0.7);
}
.img {
  position: absolute;
  bottom: 0;
  width: 100%;
  margin-bottom: -1vh;
}

@media screen and (max-width: 750px) {
  .div {
    height: 100vh;
    margin-top: 2vh;
  }
}
