@import url("https://fonts.googleapis.com/css2?family=Righteous&display=swap");

.div {
  background-color: #000b76;
  margin: 0;
  padding: 0;
  height: 100vh;
  position: relative;
  font-family: "Righteous", cursive;
}

.img {
  position: absolute;
  bottom: 0;
  width: 100%;
  margin-bottom: -1vh;
}
.nav {
  display: flex;
  justify-content: space-between;
  padding: 3vh 3vw 0 3vw;
}

.hero {
  width: 60%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 60vh;
}

.rightsidediv {
  width: 40%;
  height: 60vh;
  display: flex;
  align-items: flex-end;
  justify-content: flex-start;
}

.social {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  font-size: xx-large;
  padding-right: 3vw;
}

.righthead {
  display: flex;
  justify-content: space-evenly;
}

.icon {
  margin-left: 1.5vw;
  cursor: pointer;
}

.herodiv {
  display: flex;
  justify-content: space-evenly;
}

.typingtext {
  animation: type 4s steps(27);
  overflow: hidden;
  white-space: nowrap;
  border-right: 4px solid white;
}

@keyframes type {
  0% {
    width: 0ch;
  }
  100% {
    width: 21ch;
  }
}

.changingtext::before {
  content: "Softwares";
  animation: changetext 15s infinite steps(400);
  animation-delay: 7s;
}

@keyframes changetext {
  0% {
    content: "Softwares";
  }
  1% {
    content: "Software";
  }
  2% {
    content: "Softwar";
  }
  3% {
    content: "Softwa";
  }
  4% {
    content: "Softw";
  }
  5% {
    content: "Soft";
  }
  6% {
    content: "Sof";
  }
  7% {
    content: "So";
  }
  8% {
    content: "S";
  }
  9% {
    content: "";
  }
  10% {
    content: "W";
  }
  11% {
    content: "We";
  }
  12% {
    content: "Web";
  }
  13% {
    content: "Webs";
  }
  14% {
    content: "Websi";
  }
  15% {
    content: "Websit";
  }
  16% {
    content: "Website";
  }
  17% {
    content: "Websites";
  }
  49% {
    content: "Websites";
  }
  50% {
    content: "Website";
  }
  51% {
    content: "Websit";
  }
  52% {
    content: "Websi";
  }
  53% {
    content: "Webs";
  }
  54% {
    content: "Web";
  }
  55% {
    content: "We";
  }
  56% {
    content: "W";
  }
  57% {
    content: "";
  }
  58% {
    content: "";
  }
  59% {
    content: "S";
  }
  60% {
    content: "So";
  }
  61% {
    content: "Sof";
  }
  62% {
    content: "Soft";
  }
  63% {
    content: "Softw";
  }
  64% {
    content: "Softwa";
  }
  65% {
    content: "Softwar";
  }
  66% {
    content: "Software";
  }
  67% {
    content: "Softwares";
  }
}

@media screen and (max-width: 1100px) {
  .typingtext {
    animation: none;
    white-space: normal;
    border-right: none;
    text-align: center;
  }
  .changingtext {
    display: block;
  }

  .changingtext::before {
    border-right: 4px solid white;
    animation-delay: 0s;
  }
}

@media screen and (max-width: 750px) {
  .typingtext {
    animation: none;
    white-space: normal;
    border-right: none;
  }
  .changingtext::before {
    border-right: 4px solid white;
    animation-delay: 3s;
  }
  .div {
    height: 80vh;
  }
  .herodiv {
    display: flex;
    flex-direction: column;
  }
  .hero {
    width: 100%;
    text-align: center;
    height: 60vh;
  }
}
