@import url("https://fonts.googleapis.com/css2?family=Righteous&display=swap");

.servicelayout {
  position: relative;
  height: 100vh;
  margin-top: 1vh;
}

.service {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin-top: 2vh;
}

.head {
  display: flex;
  justify-content: center;
  font-family: "Righteous", cursive;
}

.image {
  height: 50vh;
  padding: 2vh;
}

.box {
  box-shadow: 5px 10px #888888;
  width: 33%;
  transform: skew(5deg, 5deg);
  border: 1px solid #888888;
}

/* .box:hover {
  transform: scale(1.05);
  z-index: 50;
} */

.badge {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 2vh;
}

@media screen and (max-width: 750px) {
  .service {
    flex-direction: column;
  }

  .image {
    height: 30vh;
    width: 100%;
  }
  .box {
    box-shadow: 0 0;
    width: 100%;
    transform: skew(0deg, 0deg);
  }
}
